body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.border{
    border: 1px solid rgb(235, 234, 234);
    border-radius: 10px;
    height: 300px;
}

.contato {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.conteudo {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

.conteudo .column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.center{
    display: flex;
    align-items: center;
}

.conteudo .divtextos {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.conteudo .divtextos2 {
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo .estatistica {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.conteudo .information {
    display: flex;
    flex-direction: row;
    height: 160px;
    width: 100%;
    justify-content: space-evenly;
}

.conteudo .informicon {
    width: 194px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divtextos2.botao button {
    background-color: rgb(36, 160, 160);
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}

.divtextos2.botao button:hover {
    cursor: pointer;
    background-color: rgb(18, 75, 75);
}

.divtextos2.botao img:first-child {
    width: 150px;
}

.emailtel {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

footer {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

footer .footerlinks {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

footer .footerlinks p:nth-child(2) {
    color: gray;
    font-size: 10pt;
}

footer .footerlinks a {
    padding: 3px;
    color: gray;
    font-size: 10pt;
    text-decoration: none;
}

footer .footerlinks input {
    width: 100%;
    height: 30px;
    border: gray solid 0.5px;
    background-color: transparent;
}

footer .linha1 {
    display: flex;
    justify-content: space-evenly;
}

footer .linha2 {
    color: gray;
    height: 40px;
    font-size: 10pt;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray {
    background-color: rgb(238, 247, 247);
}

header {
    background-image: url(images/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.informicon img {
    width: 30px;
}

.informtext {
    display: flex;
    width: 194px;
    height: 160px;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .conteudo .divtextos2 .signature {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    justify-content: center;
}

.menu {
    height: 60px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    color: white;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    color: rgb(18, 75, 75);
}

.navlogo {
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navlogo h1 {
    color: white;
}

.numeros {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 156px;
    height: 90px;
    background-color: white;
}

p {
    color: gray;
}

section {
    width: 100%;
    height: 100px;
    background-color: rgb(36, 160, 160);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section .callus {
    color: white;
}

section .callus p:first-child {
    font-size: 16pt;
}

.signature img:first-child {
    border-radius: 100%;
    width: 90px;
}

.signature img:nth-child(2) {
    width: 120px;
    height: 60px;
}

section .telephone {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.titulo {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.titulo button {
    width: 170px;
    height: 41px;
    border: none;
    background-color: rgb(6, 202, 202);
    color: white;
    border-radius: 5px;
}

.titulo button:hover {
    background-color: rgb(18, 75, 75);
    cursor: pointer;
}

.titulo p {
    font-size: 26pt;
    color: white;
}

.topicones {
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.white {
    color: white;
}